* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/hand-drawn-seamless-pattern-doodle-magic-vector-background-red_712485-229.avif);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

header {
    /* border: 1px solid blue; */
    text-align: center;
    font-family: 'Hogwarts Wizard', sans-serif;
    font-size: 5em;
    background-color:#000000b8;
    width: 70%;
    color: #b19c48;
    border: 5px ridge #cc6600;
    border-radius: 1em;
    box-shadow: inset 0px 0px 5px #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h6{
    font-size: 40px;
    display: none;
    cursor: pointer;
}


main {
    align-items: center;
    display: flex;
    width: 70%;
    flex: 3; 
    flex-direction: column;
    border: 5px ridge #cc6600;
    border-radius: 2em;
    box-shadow: inset 0px 0px 5px #ccc;
    background-color: #000000b8;
    position: relative;

}

h1{
    text-align: center;
    font-family:'Hogwarts Wizard', sans-serif;
    color: #b19c48;   
}
.beginning{
    border: 10px groove #a56012;
    border-radius: 1em;
    background-color: #b19c48;
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(49, 40, 40, 0.365);
    color: #b19c48;
    padding: 20px;
    text-align: center;
    font-family: 'Hogwarts Wizard', sans-serif;
    font-size: 30px;
}
.beginning input{
    margin-top: 40px;
    margin-bottom: 50px;
    border: 5px double #a56012;
    border-radius: 1em;
    background-color: #631717f5;
    width: 300px;
    text-align: center;
    color:#b19c48;
    font-size: 20px;
}

.beginning button{
    border: 10px double #b19c48;
    border-radius: 4em;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url('./images/Wand\ A.cur') 20 20, none;
}

#sort {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: rgba(49, 40, 40, 0.365);
  }
  
#sort img {
    width: 400px;
    height: 200px;
  }
  
.mainPicture{
    display: none;
    /* display: flex; */
    flex-direction: row;
}

.image-container{
    max-width: 90%;
    max-height: 800%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.image-container img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 3%;
    margin: 10px;
}



.clickable {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    /* Use CSS to position each clickable element at the location of each item in the picture */
  }

.smoke-effect {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/dementor.png);
    background-size: cover;
    animation: smoke-effect 3s linear forwards;
    opacity: 0;
    z-index: 10;
  }
  
  @keyframes smoke-effect {
    0% {
      transform: scale(1);
      opacity: 0;
    }
    25% {
      transform: scale(2);
      opacity: 0.2;
    }
    50% {
      transform: scale(3);
      opacity: 0.4;
    }
    75% {
      transform: scale(4);
      opacity: 0.6;
    }
    100% {
      transform: scale(5);
      opacity: 0.8;
    }
  }
  

aside{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

aside h1{
    margin-top: 20px;
    margin-bottom:0;
    
}

#timer{
    text-align: center;
    font-size: 3em;
    font-family: 'Hogwarts Wizard', sans-serif;
    flex: 1;
    color: #b19c48;
    border: 10px double #b19c48;;
    border-radius: 50%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#score{
    text-align: center;
    font-size: 3em;
    font-family: 'Hogwarts Wizard', sans-serif;
    flex: 1;
    color: #b19c48;
    border: 10px double #b19c48;
    border-radius: 50%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items{
    width: 100%;
    display:none;
    /* display: flex; */
    flex-direction: column;

}

.boosted {
    color: #681212f5;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

#pic-name{
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.keys{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 4;
}

.keys img{
    max-width: 200px;
    max-height: 100px;
    object-fit: cover;
    margin: 10px;
}

.new-window{
    border: 10px solid #a56012;
    border-radius: 2em;
    background-color: #b19c48;
    color: white;
    position: absolute;
    top: 40px ;
    left: 40px;
    right: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #631717f5;
    color: #cc6600;
    padding: 20px;
    text-align: center;
    margin: -30px;
}

button{
    border: 10px double #a56012;
    border-radius: 50%;
    background-color: #641616f5;
    color: white; 
    width: 200px;
    height: 200px;
    font-size: 16px;
    margin: 100px;
    text-align: center;
    cursor: url('./images/Wand\ A.cur') 20 20, none;

}

table{  
    border-radius: 1em;
    font-family: "Hogwarts Wizard", sans-serif;
    font-size: 30px;
    width: 40%;
    text-align: center;   
}

.college{
    width: 30%;
}

table tr, table td{
    border-radius: 1em;
    padding: 10px;
    text-align: center;
}



















