* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/hand-drawn-seamless-pattern-doodle-magic-vector-background-red_712485-229.avif);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

header {
    /* border: 1px solid blue; */
    text-align: center;
    font-family: 'Hogwarts Wizard', sans-serif;
    font-size: 5em;
    background-color:#000000b8;
    width: 70%;
    color: #b19c48;
    border: 5px ridge #cc6600;
    border-radius: 1em;
    box-shadow: inset 0px 0px 5px #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h6{
    font-size: 40px;
    display: none;
    cursor: pointer;
}


main {
    align-items: center;
    display: flex;
    width: 70%;
    flex: 3; 
    flex-direction: column;
    border: 5px ridge #cc6600;
    border-radius: 2em;
    box-shadow: inset 0px 0px 5px #ccc;
    background-color: #000000b8;
    position: relative;

}

h1{
    text-align: center;
    font-family:'Hogwarts Wizard', sans-serif;
    color: #b19c48;   
}
.beginning{
    border: 10px groove #a56012;
    border-radius: 1em;
    background-color: #b19c48;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(49, 40, 40, 0.365);
    color: #b19c48;
    padding: 20px;
    text-align: center;
    font-family: 'Hogwarts Wizard', sans-serif;
    font-size: 30px;
    cursor: url(./images/wand.png);
}
.beginning input{
    margin-top: 40px;
    margin-bottom: 50px;
    border: 5px double #a56012;
    border-radius: 1em;
    background-color: #631717f5;
    width: 300px;
    text-align: center;
    color:#b19c48;
    font-size: 20px;
}

.beginning button{
    border: 10px double #b19c48;
    border-radius: 4em;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url(./images/wand.png);
}

#sort {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: rgba(49, 40, 40, 0.365);
  }
  
  #sort img {
    width: 400px;
    height: 200px;
  }
  
.mainPicture{
    display: flex;
    /* display: flex; */
    flex-direction: row;
    /* border: 1px solid pink; */
}

.image-container{
    max-width: 90%;
    max-height: 800%;
    overflow: hidden;
    position: relative;
}

.image-container img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 3%;
    margin: 10px;
}

.clickable {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    /* cursor: pointer; */
    /* Use CSS to position each clickable element at the location of each item in the picture */
  }

aside{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    
    /* border: 1px dotted pink; */
}

aside h1{
    margin-top: 20px;
    margin-bottom:0;
    
}

#timer{
    text-align: center;
    font-size: 3em;
    font-family: 'Hogwarts Wizard', sans-serif;
    flex: 1;
    color: #b19c48;
    border: 10px double #b19c48;;
    border-radius: 50%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#score{
    text-align: center;
    font-size: 3em;
    font-family: 'Hogwarts Wizard', sans-serif;
    flex: 1;
    color: #b19c48;
    border: 10px double #b19c48;
    border-radius: 50%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items{
    /* border: 1px solid pink; */
    width: 100%;
    display:flex;
    flex-direction: column;

}

#pic-name{
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 10px double #b19c48;
    border-radius: 50%; */
}

.keys{
    /* border: 1px solid pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 4;
}

.keys img{
    max-width: 200px;
    max-height: 100px;
    object-fit: cover;
    margin: 10px;
}

footer{
    /* border: 1px solid red */

}

.new-window{
    border: 10px solid #a56012;
    border-radius: 2em;
    background-color: #b19c48;
    color: white;
    position: absolute;
    top: 40px ;
    left: 40px;
    right: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #631717f5;
    color: #cc6600;
    padding: 20px;
    text-align: center;
}

button{
    border: 10px double #a56012;
    border-radius: 50%;
    background-color: #641616f5;
    color: white; 
    width: 200px;
    height: 200px;
    font-size: 16px;
    margin: 100px;
    text-align: center;

}





















